page-login {
	ion-content{
		background: url("../../assets/imgs/background.png") no-repeat;
		background-size: cover;
	}

	h5{
		font-size: 16px;
		color: #71621C;
		font-style: oblique;
	}

	h6{
		font-size: 14px;
		width: auto;
		height: 14px;
		color: #BFB300;
		margin: 12px;
	}

	.div-input{
		display: flex;
		background-color: #3e3d3d;
		border-radius: 15px;
		margin-top: 12px;
		margin-bottom: 12px;
		opacity: 0.8;
	}

	.icon-giot{
		width: 180px;
		height: 180px;
		padding: 16px;
	}

	.logo-footer{
		width: 220px;
		padding: 0px 12px 12px 12px;
		margin-top: 4px;
	}

	.icon-input{
		width: 40px;
		height: 40px;
		padding: 4px;
		margin-top: 2px;
	}

	.button {
		border-radius: 12px;
		width: 148px;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 12px;
	}
}
