page-login {
	ion-content{
		background: url("../../assets/imgs/background.png") no-repeat;
		background-size: cover;
	}

	ion-item{
		border-radius: 15px;
		opacity: 0.7;
	}

	b{
		font-size: 16px;
	}

	h5{
		font-size: 16px;
		color: #71621C;
		font-style: oblique;
	}

	h6{
		font-size: 14px;
		width: auto;
		height: 14px;
		color: #BFB300;
		margin: 12px;
	}


	.div-item{
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.icon-giot{
		width: 180px;
		height: 180px;
		padding: 16px;
	}

	.logo-footer{
		width: 180px;
		padding: 0px 12px 12px 12px;
		margin-top: 4px;
	}

	.button {
		border-radius: 12px;
		width: 148px;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 12px;
	}

	/* .ng-valid[required], .ng-valid.required  {
		border: 2px solid #42A948;
	}

	.ng-invalid:not(form)  {
		border: 2px solid #a94442;
	} */

}
