page-home {

	ion-content {
		background: url(../../assets/imgs/background.png) no-repeat;
		size: cover;
	}

	.list-devices {
		width: auto;
		height: 240px;
	}

	.div-link {
		text-align: center;
		padding: 12px 12px 0px 12px;
	}

	.icon-bluetooth {
		width: 80px;
		height: 80px;
	}

	.div-list {
		padding: 0px 12px 0px 12px;
	}

	.button {
		border-radius: 12px;
		width: 148px;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 12px;
	}
}
