page-home {
	p{
		font-size: 16px;
		margin: 4px 0px 4px 0px;
	}

	img{
		width: 80px;
		height: 80px;
	}

	.div-profile{
		height: auto;
		background: white;
		padding: 12px;
		display: flex;
	}

	.div-buttons{
		background: #3e3d3d;
		height: 360px;
		margin-top: 140px;
		padding: 12px;
		text-align: center;
	}

	.img{
		width: 80px;
		height: 80px;
		border-radius: 12px;
		background: grey;
	}

	.info{
		height: auto;
		width: 180px;
		padding-left: 16px;
	}

	.button-edit{
		background: #3e3d3d;
		font-size: 12px;
		border-radius: 8px;
		height: 32px;
	}

	.button-nav{
		width: 150px;
		height: 150px;
		border-radius: 12px;
		background: white;
		color: black;
	}
}
