// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-loading.loading{
   img{
      width: 80px;
      height: 80px;
      -webkit-animation: 1s rotate linear infinite;
      animation: 1s rotate linear infinite;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
   }

   @keyframes rotate {from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}}
   @-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}}
}