page-exercise {
   .title{
      color: #FEE000;
      font-weight: bold;
      font-size: 36px;
      margin-bottom: 32px;
   }

   .time{
      margin-top: 60px;
      font-size: 36px;
      color: #FEE000;
   }

   div{
      text-align: center;
   }

   .circle{
      width: 180px;
      height: 180px;
      border-radius: 2000px;
      border: 2px solid #FEE000;
      text-align: center;
      margin-left: 92px;
   }
}